* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'poppins', sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

.header img {
    max-width: 100%;
}

ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 16px;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.navbar a:hover {
    color: #5d8dcf;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 30px;
}

.navbar {
    background-color: #1F2937;
    /* background-color: #3474e6; */
    height: 60px;
    
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    /* padding-top: 30px; */
}

.navbar .logo{
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
}

.header {
    background-color: #1F2937;
    /* background-color: #3474e6; */
    /* min-height: 400px; */
    height: 500px;

}

.header img {
    width: 400px;
}



button {
    cursor: pointer;
    padding: 8px 32px;
    border-radius: 8px;
}

.header button {
    background-color: #3882F6;
    border: 1px solid #3882F6;
    color: #F9FAF8;
    font-weight: bold;
}

.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    gap: 32px;
}

.header h1 {
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;
    line-height: 1.2;
}

.header p {
    font-size: 18px;
    color: #E5E7EB;
    margin-bottom: 20px;
}

.information {
    height: 600px;
}

.information .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}


.information .title {
    text-align: center;
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
    margin-bottom: 32px;
    margin-top: -100px;
    /* background-color: pink; */
    /* border: 5px solid black;  */
}

.info img {
    width: 200px;
    height: 200px;
    border: 5px solid #3882F6;
    border-radius: 10px;
    object-fit: cover;
}

.info .text {
    text-align: center;
}

.container-info {
    display: flex;
    justify-content: space-between;
    /* background-color: pink; */
    /* border: 5px solid black;  */
}

.info {
    max-width: 200px;
}


.quote {
    background-color: #E5E7EB;
    height: 600px;
}

.quote .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    /* max-width: 800px; */
}

.quote-text {
    font-size: 36px;
    color: #1F2937;
}

.credit {
    align-self: flex-end;
    font-size: 36px;
    font-weight: bold;
}

.call-to-action {
    height: 500px;
    /* display: flex; */
    /* align-items: center; */
}

.call-to-action .container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    
}

.cta-wrapper {
    background-color: #3882F6;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /*height: 100%; */
    /* padding: 30px; */
    /* gap: 50px; */
    width: 1100px;
    border-radius: 5px;
    padding: 35px;
}

.cta-header {
    color: #F9FAF8;
    font-weight: bold;
    font-size: larger;
}

.cta-text {
    color: #F9FAF8;
}

.cta-button {
    background-color: #3882F6;
    border: 2px solid #F9FAF8;
    color: #F9FAF8;
    font-weight: bold;
}

.footer {
    background-color: #1F2937;
    height: 50px;
    text-align: center;
    color: #E5E7EB;
    display: flex;
    align-items: center;
}